@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  :root {
    --background: 240 20% 98% !important;
    --foreground: 240 10% 20% !important;
    --primary: 200 100% 50% !important;
  }

  .dark {
    --background: 240 10% 10% !important;
    --foreground: 240 30% 90% !important;
    --primary: 200 100% 50% !important;
  }

  .neon {
    --background: 300 80% 10% !important;
    --foreground: 60 100% 90% !important;
    --primary: 50 100% 50% !important;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
